{% extends 'menu/layout.html' %}

{% block title %}{{ block.super }}{% endblock %}

{% block h1 %}{{ block.super }}{% endblock %}

{% block content %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h1>Change menu</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}